<%- include("partials/headermain"); -%>
    
    <div class="main-wrapper">
	    	    
	    <article class="about-section py-5">
		    <div class="container">
			    
			    
			    
			    <figure><img class="img-fluid" src="<%=post.imgblog%>" alt="image"></figure>
			    <h2 class="mt-5"><%=post.title%></h2>
			    <p><%=post.content%></p>
		
    </div>
    
	<%- include("partials/footermain"); -%>
  
    <script src="/plugins/popper.min.js"></script> 
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script> 
    

</body>
</html> 

